<html>
  <title>Bot</title>
  <head>
        <link
        rel="shortcut icon"
        type="image/x-icon"
        href="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
        />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/chat.css" rel="stylesheet">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
    </head>
    <body>
        <center>
        <h1>
            <img
            src="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
            alt="CANDICE"
            style="width:40px;height:40px;"
            />Bot
        </h1>
        </center>
    <div class="box"></div>
        <div class="boxed">
        <div>
            <div id="chatbox">
            <img
                src="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
                alt="CANDICE"
                style="width:40px;height:40px;"
            />
            <p class="botText">
                <span>Olá, Seja bem vindo ao Chat Bot!</span>
            </p>
            </div>
            <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Mensagem" />
            </div>
        </div>
        </div>
        <script type="text/javascript" src="/static/js/chat.js"></script>
  </body>
</html>